.card {
    margin-top: 2rem;
    font-size: 0.9rem;

    &:hover .card-img-top {
        transform: scale(1.3);
    }


    .card-img-top {
        transition: transform 3s;
    }

    .card-body{
        background-color: rgb(151, 177, 190);
    }
}